@font-face {
  font-family: 'light';
  src: url('../styles/fonts/Pretendard-Light.ttf');
}

@font-face {
  font-family: 'regular';
  src: url('../styles/fonts/Pretendard-Regular.ttf');
}

@font-face {
  font-family: 'black';
  src: url('../styles/fonts/Pretendard-Black.ttf');
}
